
  <div class='add-job-container'>
    <h2>
      Jobs
    </h2>
    <form class='new-job-form'>
      <label for='title'>
        Job <Title></Title><Title></Title>
      </label>
      <br />
      <input id='title' name='title' rows='2' cols='30'>
        {{title}}
      </input>
      <br />
      <label for='industry'>
        Industry:
      </label>
      <br />
      <select id='industry' name='industry' rows='2' cols='30'>
        <!--{{#each industry}}
        <option value={{industry.id}}>{{industry.name}}</option>
        {{/each}}   -->
        <option value="Sales">Sales</option>
        <option value="IT">IT</option>
        <option value="Management">Management</option>
        <option value="Manufacturing">Manufacturing</option>
        <option value="Rngineering">Engineering</option>
        <option value="Business Development">Business Development</option>
        <option value="Production">Production</option>
        <option value="Finance">Finance</option>
  <option value="Marketing">Marketing</option>
  <option value="Software Development">Software Development</option>
  <option value="Retail">Retail</option> 
  <option value="Banking">Banking</option>
  <option value="Business Consulting">Business Consulting</option>
  <option value="Investment Management">Investment Management</option>
  <option value="Professional Coaching">Professional Coaching</option>  
      </select>
      <br />
      <label for='experience'>
        Experience 
      </label>
      <br />
      <select id='experience' name='experience' rows='5' cols='30'>
        {{experience}}
        <option value="Internship">Internship</option>
        <option value="Entry">Entry</option>
        <option value="Associate">Associate</option>
        <option value="Mid-Senior">Mid-Senior</option>
        <option value="Director">Director</option>
        <option value="Executive">Executive</option>
      </select>
      <br />
     
      <label for='minSalary'>
        Minimum Salary:
      </label>
      <br />
      <input id='minSalary' name='minSalary' rows='2' cols='30'>
        {{minSalary}}
      </input>
      <br />
      <label for='maxSalary'>
        Maximum Salary:
      </label>
      <br />
      <input id='maxSalary' name='maxSalary' rows='2' cols='30'>
        {{maxSalary}}
      </input>
      <br />
      <label for='employer'>
        Employer:
      </label>
      <br />
      <input id='employer' name='employer' rows='2' cols='30'>
        {{employer}}
      </input>
      <br />
      <label for='city'>
        City:
      </label>
      <br />
      <input id='city' name='city' rows='2' cols='30'>
        {{city}}
      </input>
      <br />
      <label for='state'>
        State:
      </label>
      <br />
      <input id='state' name='state' rows='2' cols='30'>
        {{state}}
      </input>
      <br />
      <label for='isRemote'>
        Is Remote?
      </label>
      <br />
      <select id='isRemote' name='isRemote' rows='2' cols='30'>
        {{isRemote}}
        <option value="On-Site">On-site</option>
        <option value="Remote">Remote</option>
        <option value="Hybrid">Hybrid</option>
      </select>
      <br />
      {{!-- <input type='checkbox' id='has_salary_range' name='has_salary_range' value='true' />
      <label for='has_salary_range'>
        Check box if this job has salary range
      </label>
      <br /> --}}
       <label for='hours'>
        Hours
      </label>
      <br />
      <select id='hours' name='hours' rows='2' cols='30'>
        {{hours}}
        <option value="Full-time">Full-time</option>
        <option value="Part-time">Part-time</option>
        <option value="Contract">Contract</option>
        <option value="Temporary">Temporary</option>
        <option value="Volunteer">Volunteer</option>
        <option value="Internship">Internship</option>
      </select>
      <br />
      <button type='submit' value='Submit'>
        Submit
      </button>
      <br />
      
    </form>
    <form class="jobsearch">
      <label>Search for jobs by title</label>
      <br />
      <input type="text" id="searchContent">
      <button id="search" type='submit' value='Search'>
        Search
      </button>
    </form>
  </div>
</div>

<script src='/js/jobsearch.js'></script>
<script src="/js/search.js"></script>
