<div class="tile is-ancestor">
    <div class="tile is-4 is-vertical is-parent">
      <div class="tile is-child notification has-background-link-light">
        <form class="jobsearch">
        <p class="title">Search Jobs</p>
        <input class="input" type="text" placeholder="Search by Job Title" id="searchContent">
        <button class="button" id="search" type='submit' value='Search'>Search</button>
      </div>
      <div class="tile is-child box">
        <figure class="image is-450x700">
            <img src="/images/pic1.jpg">
          </figure>
      </form>
      </div>
    </div>

    <div class="tile is-parent">
      <div class="tile is-child box has-background-link-light">
        <p class="title">Add Jobs</p>
        <div class="field">
          <form class='new-job-form'>
            <label class="label">Title</label>
            <div class="control">
              <input class="input" type="text" placeholder="Title" id='title' name='title' rows='2' cols='30'>
              {{title}}
            </div>

            <label class="label">Industry</label>
            <div class="select">
                <select id='industry' name='industry' rows='2' cols='30'>
                  {{industry}}
                  <option>Industry</option>
                  <option value="Sales">Sales</option>
                  <option value="IT">IT</option>
                <option value="Management">Management</option>
                <option value="Manufacturing">Manufacturing</option>
                <option value="Rngineering">Engineering</option>
                <option value="Business Development">Business Development</option>
                <option value="Production">Production</option>
                <option value="Finance">Finance</option>
                <option value="Marketing">Marketing</option>
                <option value="Software Development">Software Development</option>
                <option value="Retail">Retail</option> 
                <option value="Banking">Banking</option>
                <option value="Business Consulting">Business Consulting</option>
                <option value="Investment Management">Investment Management</option>
                <option value="Professional Coaching"></option>
                </select>
              </div>

              <label class="label">Experience</label>
            <div class="select">
                <select id='experience' name='experience' rows='5' cols='30'>
                  {{experience}}
                  <option>Experience</option>
                  <option value="Internship">Internship</option>
                <option value="Entry">Entry</option>
                <option value="Associate">Associate</option>
                <option value="Mid-Senior">Mid-Senior</option>
                <option value="Director">Director</option>
                <option value="Executive">Executive</option>
                </select>
            </div>

            <label class="label">Minimum Salary</label>
            <div class="control">
              <input class="input" type="text" placeholder="Minimum Salary" id='minSalary' name='minSalary' rows='2' cols='30'>
              {{minSalary}}
            </div>

            <label class="label">Maximum Salary</label>
            <div class="control">
              <input class="input" type="text" placeholder="Maximum Salary" id='maxSalary' name='maxSalary' rows='2' cols='30'>
              {{maxSalary}}
            </div>

            <label class="label">Employer</label>
            <div class="control">
              <input class="input" type="text" placeholder="Employer" id='employer' name='employer' rows='2' cols='30'>
              {{employer}}
            </div>
            
            <label class="label">City</label>
            <div class="control">
              <input class="input" type="text" placeholder="City" id='city' name='city' rows='2' cols='30'>
              {{city}}
            </div>

            <label class="label">State</label>
            <div class="control">
              <input class="input" type="text" placeholder="State" id='state' name='state' rows='2' cols='30'>
              {{state}}
            </div>

            <label class="label">Is Remote</label>
            <div class="select">
                <select id='isRemote' name='isRemote' rows='2' cols='30'>
                  {{isRemote}}
                  <option>Is Remote</option>
                  <option value="On-Site">On-site</option>
                <option value="Remote">Remote</option>
                <option value="Hybrid">Hybrid</option>
                </select>
            </div>

            <label class="label">Hours</label>
            <div class="select">
                <select id='hours' name='hours' rows='2' cols='30'>
                  {{hours}}
                  <option value="Full-time">Full-time</option>
                  <option value="Part-time">Part-time</option>
                  <option value="Contract">Contract</option>
                  <option value="Temporary">Temporary</option>
                  <option value="Volunteer">Volunteer</option>
                  <option value="Internship">Internship</option>
                </select>
            </div>

            <button class="button" type='submit' value='Submit'>Submit</button>
            </form>
      </div>
    </div>
  </div>


<script src='/js/jobsearch.js'></script>
<script src="/js/search.js"></script>
