
  <div class='add-job-container'>
    <h2>
      Jobs
    </h2>
    <form class='new-job-form'>
<<<<<<< HEAD
      <label for='job_category'>
        Job Category:
      </label>
      <br />
      <textarea id='job_category' name='job_category' rows='2' cols='30'>
        {{job_category}}
      </textarea>
      <br />
      <label for='experience_level'>
        Experience Level
      </label>
      <br />
      <textarea id='experience-level' name='experience-level' rows='5' cols='30'>
        {{experience_level}}
      </textarea>
      <br />
      <label for='job_title'> <!-- Does it need to move up? -->
        Job <Title></Title><Title></Title> <!-- Why repeating -->
=======
      <label for='title'>
        Job <Title></Title><Title></Title>
>>>>>>> b30185f0f34d1315ea9c3560b57c1c08549651ab
      </label>
      <br />
      <textarea id='title' name='title' rows='2' cols='30'>
        {{title}}
      </textarea>
      <br />
      <label for='industry'>
        Industry:
      </label>
      <br />
      <select id='industry' name='industry' rows='2' cols='30'>
        <!--{{#each industry}}
        <option value={{industry.id}}>{{industry.name}}</option>
        {{/each}}   -->
        <option value="sales">Sales</option>
  <option value="it">IT</option>
  <option value="management">Management</option>
  <option value="manufacturing">Manufacturing</option>
  <option value="engineering">Engineering</option>
  <option value="businessdevelopment">Business Development</option>
  <option value="production">Production</option>
  <option value="finance">Finance</option>
  <option value="marketing">Marketing</option>
  <option value="softwaredevelopment">Software Development</option>
  <option value="retail">Retail</option> 
  <option value="banking">Banking</option>
  <option value="businessconsulting">Business Consulting</option>
  <option value="investmentmanagement">Investment Management</option>
  <option value="professionalcoaching">Professional Coaching</option>  
      </select>
      <br />
      <label for='experience'>
        Experience 
      </label>
      <br />
      <select id='experience' name='experience' rows='5' cols='30'>
        {{experience}}
        <option value="internship">Internship</option>
        <option value="entry">Entry</option>
        <option value="associate">Associate</option>
        <option value="mid-Senior">Mid-Senior</option>
        <option value="director">Director</option>
        <option value="executive">Executive</option>
      </select>
      <br />
     
      <label for='minSalary'>
        Minimum Salary:
      </label>
      <br />
      <input id='minSalary' name='minSalary' rows='2' cols='30'>
        {{minSalary}}
      </input>
      <br />
      <label for='maxSalary'>
        Maximum Salary:
      </label>
      <br />
      <input id='maxSalary' name='maxSalary' rows='2' cols='30'>
        {{maxSalary}}
      </input>
      <br />
      <label for='employer'>
        Employer:
      </label>
      <br />
      <input id='employer' name='employer' rows='2' cols='30'>
        {{employer}}
      </input>
      <br />
      <label for='city'>
        City:
      </label>
      <br />
      <input id='city' name='city' rows='2' cols='30'>
        {{city}}
      </input>
      <br />
      <label for='state'>
        State:
      </label>
      <br />
      <input id='state' name='state' rows='2' cols='30'>
        {{state}}
      </input>
      <br />
      <label for='isRemote'>
        Is Remote?
      </label>
      <br />
      <select id='isRemote' name='isRemote' rows='2' cols='30'>
        {{isRemote}}
        <option value="onsite">On-site</option>
        <option value="remote">Remote</option>
        <option value="hybrid">Hybrid</option>
      </select>
      <br />
      {{!-- <input type='checkbox' id='has_salary_range' name='has_salary_range' value='true' />
      <label for='has_salary_range'>
        Check box if this job has salary range
      </label>
      <br /> --}}
       <label for='hours'>
        Hours
      </label>
      <br />
      <select id='hours' name='hours' rows='2' cols='30'>
        {{hours}}
        <option value="fulltime">Full-time</option>
        <option value="parttime">Part-time</option>
        <option value="contract">Contract</option>
        <option value="temporary">Temporary</option>
        <option value="volunteer">Volunteer</option>
        <option value="internship">Internship</option>
      </select>
      <br />
      <button type='submit' value='Submit'>
        Submit
      </button>
    </form>
  </div>
</div>

<script src='./js/jobsearch.js'></script>
