<div class="tile is-ancestor">
    <div class="tile is-4 is-vertical is-parent">
      <div class="tile is-child notification has-background-link-light">
        <form class="job-card">
        <h1 class="job-card-header" style="font-style:italic;">Job Details</h1>
     </br>   
    <h1 style="color: rgba(0, 0, 255, 0.424) ;">
      Industry: 
    {{industry}}
    </h1>
    <br>
    <h2 style="color: rgba(0, 0, 255, 0.424) ;">
      Experience: 
      {{experience}}
    </h2>
    </br>
    <h2 style="color: rgba(0, 0, 255, 0.424) ;">
      Job Title: 
      {{title}}
    </h2>
    </br>
    <h2 style="color: rgba(0, 0, 255, 0.424) ;">
      Employer: 
      {{employer}}
    </h2>
    </br>
    <h2 style="color: rgba(0, 0, 255, 0.424) ;">
      City: 
      {{city}}
    </h2>
    </br>
    <h2 style="color: rgba(0, 0, 255, 0.424) ;">
      State: 
      {{state}}
    </h2>
    </br>
    {{#if has_salary_range}}
      <h2 class="has-salary-range">
        Salary Range provided
      </h2>
    {{/if}}
    </br>
    <button>Edit</button>
    <button>Delete</button>
  <!--Add the routes to allow put and delete requests for each job -->
        </form>
      </div>
  </div>
</div>

